body {
    background-color: #36846B;
}
.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 4px solid #4BB39A;
    border-radius: 15px;
    z-index: 10;
    background-color: #d68438;
    width: 500px;
    height: 230px;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: end;
    gap: 100px;
    border-bottom: 1px solid black;
}
#addToLibrary {
    width: 150px;
    height: 50px;
    margin: 5px 160px 0px 160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: #4BB39A;
    border: 2px solid #36846B;
    border-radius: 10px;
}
.modalTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
}
.modal-body {
    display: flex;
    flex-direction: column;
    margin: 20px 15px 0px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
}
.closeButton {
cursor: pointer;
border: none;
outline: none;
background: none;
font-size: 1.45rem;
font-weight: bold;
}
.title {
    padding: 0 0 5px 0;
}
.author {
    padding: 0 0 5px 0;
}
.pagesNumber {
    padding: 0 0 5px 0;
}
.input {
    background-color: #4bb39a;
    border: 1px solid #36846B;
    border-radius: 7px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
    transition: 200ms ease-in-out;
}